#====================================================#
#           Alinx AX309 XC6SLX16 FTG256              #
#    ALINX AX309 clone Xilinx Spartan-6 XC6SLX16     #
#====================================================#

# ==== CLOCK INPUT 50mhz ====
NET "CLK_50MHZ" LOC=T8 | TNM_NET = sys_clk_pin;


# ==== RESET PUSHBUTTON ====
NET "BTN_nRESET" LOC = L3 | IOSTANDARD = LVCMOS33;


# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = M14 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"    LOC = L13 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<0>"   LOC = M12 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<1>"   LOC = L12 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<2>"   LOC = N14 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<3>"   LOC = M13 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<0>" LOC = P9  | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<1>" LOC = L10 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<2>" LOC = M10 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<3>" LOC = P11 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<0>"  LOC = M7  | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<1>"  LOC = P8  | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<2>"  LOC = N8  | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<3>"  LOC = L7  | IOSTANDARD = LVCMOS33;


# ==== AUDIO ====
NET "AUDIO_L" LOC = M5 | IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC = N4 | IOSTANDARD = LVCMOS33;


# ==== LED ====
# NET "led<0>" LOC = "P4"  | IOSTANDARD = LVCMOS33;
# NET "led<1>" LOC = "N5"  | IOSTANDARD = LVCMOS33;
# NET "led<2>" LOC = "P5"  | IOSTANDARD = LVCMOS33;
# NET "led<3>" LOC = "M6"  | IOSTANDARD = LVCMOS33;


# ==== KEY Pushbuttons ====
NET "key_in<0>" LOC = C3 | IOSTANDARD = "LVCMOS33";
NET "key_in<1>" LOC = D3 | IOSTANDARD = "LVCMOS33";
NET "key_in<2>" LOC = E4 | IOSTANDARD = "LVCMOS33";
#NET "key_in<3>" LOC = E3 | IOSTANDARD = "LVCMOS33";


# ==== HEX 7 SEG DISPLAY ====
NET "hex[0]" LOC = D8;
NET "hex[1]" LOC = E8;
NET "hex[2]" LOC = F9;
NET "hex[3]" LOC = F10;
NET "hex[4]" LOC = E10;
NET "hex[5]" LOC = D9;
NET "hex[6]" LOC = P12;
NET "hex[7]" LOC = N12;

NET "hex[7]" IOSTANDARD = LVCMOS33;
NET "hex[6]" IOSTANDARD = LVCMOS33;
NET "hex[5]" IOSTANDARD = LVCMOS33;
NET "hex[4]" IOSTANDARD = LVCMOS33;
NET "hex[3]" IOSTANDARD = LVCMOS33;
NET "hex[2]" IOSTANDARD = LVCMOS33;
NET "hex[1]" IOSTANDARD = LVCMOS33;
NET "hex[0]" IOSTANDARD = LVCMOS33;


# ==== CONTROLS ====
#NET "SW_COIN"  LOC = P6 | IOSTANDARD = LVCMOS33;
#NET "SW_START" LOC = N6 | IOSTANDARD = LVCMOS33;
NET "SW_LEFT"   LOC = P2 | IOSTANDARD = LVCMOS33;
NET "SW_RIGHT"  LOC = M4 | IOSTANDARD = LVCMOS33;
NET "SW_UP"     LOC = R1 | IOSTANDARD = LVCMOS33;
NET "SW_DOWN"   LOC = R2 | IOSTANDARD = LVCMOS33;
NET "SW_FIRE"   LOC = T4 | IOSTANDARD = LVCMOS33;
NET "SW_BOMB"   LOC = R5 | IOSTANDARD = LVCMOS33;

NET "SW_UP"     PULLDOWN;
NET "SW_DOWN"   PULLDOWN;
NET "SW_LEFT"   PULLDOWN;
NET "SW_RIGHT"  PULLDOWN;
#NET "SW_COIN"  PULLDOWN;
#NET "SW_START" PULLDOWN;
NET "SW_FIRE"   PULLDOWN;
NET "SW_BOMB"   PULLDOWN;